<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puzhong.admin.mapper.MenuMapper">

    <sql id="selectBase">
        select
        p.*
        from tb_menu p
        join tb_role_menu rp on p.id = rp.menu_id
        join tb_role r on r.id = rp.role_id
        join tb_user_role ur on r.id = ur.role_id
        join tb_user u on u.id = ur.user_id
        where p.`type` = 1 and p.`status` = 1
    </sql>

    <select id="selectByUserId" resultType="sysMenu">
        <include refid="selectBase" />
        and u.id = #{userId}
    </select>

    <select id="selectAll" resultType="sysMenu">
        <include refid="selectBase" />
    </select>
</mapper>
