<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.puzhong.admin.mapper.PermissionMapper">

    <select id="selectPermissionByUserId" resultType="sysPermission">
        select
        p.*
        from tb_permission p
        join tb_role_permission rp on p.id = rp.permission_id
        join tb_role r on r.id = rp.role_id
        join tb_user_role ur on r.id = ur.role_id
        join tb_user u on u.id = ur.user_id
        where type = 1
				and u.id = #{userId}
    </select>
</mapper>
